--extra-index-url https://download.pytorch.org/whl/cu121
torch
torchvision
torchaudio
requests
faiss-cpu
duckduckgo-search
beautifulsoup4
langchain
unstructured
rank_bm25
sentence-transformers
PyPDF2
langchain-community
gradio
accelerate
bitsandbytes